name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup - Xcode
      run: sudo xcode-select -s /Applications/Xcode_13.1.app
    - name: Setup - Slather
      run: gem install slather
    - name: test
      run: cd DemoApp && xcodebuild -scheme DemoApp -project DemoApp.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 13,OS=15.0' -enableCodeCoverage YES test | xcpretty && exit ${PIPESTATUS[0]}
    - name: Slather
      run: slather
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        file: cobertura.xml

  notification:
    name: Notify
    runs-on: ubuntu-18.04
    needs: [test]
    if: always()
    steps: 
      - uses: martialonline/workflow-status@v3
        id: check
      - run: echo "Workflow failed"
        if: steps.check.outputs.status == 'failure'
      - run: echo "Workflow was cancelled"
        if: steps.check.outputs.status == 'cancelled'
      - run: echo "Workflow was successful"
        if: steps.check.outputs.status == 'success'

  format:
    name: Format
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup format
      run: brew install swiftformat
    - name: Format
      run: swiftformat --config swift.swiftformat . --lint

  coherent:
    name: Coherent
    runs-on: macos-latest
    steps:
      - name: coherent-swift
        uses: arthurpalves/coherent-swift@0.5.11
        run: coherent-swift
